# Orders Service
ORDERS_PORT=3001
POSTGRES_HOST=orders-db
POSTGRES_PORT=5432
POSTGRES_USER=orders_user
POSTGRES_PASSWORD=orders_pass
POSTGRES_DB=orders_db
RABBITMQ_URL=amqp://rabbitmq:5672
ORDERS_PRODUCT_FRESHNESS_MS=8000

# Payments Service
PAYMENTS_PORT=3002
MONGO_URI=mongodb://payments-db:27017/payments
RABBITMQ_URL=amqp://rabbitmq:5672
PAYMENTS_PRODUCT_FRESHNESS_MS=8000

# Analytics Service
ANALYTICS_PORT=3003
RABBITMQ_URL=amqp://rabbitmq:5672
ORDERS_PRODUCT_FRESHNESS_MS=8000
PAYMENTS_PRODUCT_FRESHNESS_MS=8000
BUSINESS_SUMMARY_FRESHNESS_MS=8000
